.header{
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: lightgrey;
    .container{
        height: 100%;
        width: 50%;
    }
    ul{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li{
            a{
                text-decoration: none;
                color: #010101;
                position: relative;
                @include transition($t);
                &::after{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: black;
                    bottom: 0;
                    left: 0;
                    @include transform(scaleX(0));
                    @include transform-origin(center);
                    @include transition(0.2s);
                }
                &:hover{
                    &::after{
                        @include transform(scaleX(1));
                    }
                }
            }
        }
    }
}